@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
/* 
body{
    background-color: #0d1117;
}  */
.nav-items{
    border: 2px solid #0d1117;
    font-size: xx-large;
}
.nav-items:hover{
    color:  #FFD700;
}
.nav{
    background-color: #161b22;
}

.home{
    color: black;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    border: 1px solid gray;
    width: 60vw;
    height: 60vh;
}
.home-header{
    display: flex;
    /* border: 1px solid gray; */
    background-color: #161b22;
    height: 3rem;
}
.home-header > div{
    color: #7c949e;
    font-size: medium;
    cursor: pointer;
    display: flex;
    /* border: 2px solid wheat; */
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.home-header > div:hover{
    color:  #ffffff;
}
.home-content{
    letter-spacing: 4px;
    margin-top: 9rem;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.open{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.subtitle{
    color: #7c949e;
    letter-spacing: 0;
    margin: 1.2rem;
    font-size: medium;
}
@media screen and (max-width:500px) {
    .home{
        width: 95vw;
        height: 80vh;
    }
    .home-content{
        letter-spacing: 0;
        font-size: x-large;
    }
    .home-header{
        display: flex;
        justify-content: space-between;
    }
    .open{
        margin: 4px;
    }
}